* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif; 
}

.navbar {
  display: grid;
  grid-template-columns: auto auto; 
  justify-content: space-between;
  align-items: center;
  background-color:  #4682B4; 
  padding: 15px 30px; 
  border-bottom: 1px black solid;
}

.navbar h1 {
  font-size: 36px; 
  color: #FFFFFF; 
  font-weight: 900; 
  text-shadow: 0 0 5px black, 0 0 10px black;
}

.navbar img{
  height:45px;
  width:45px;
}

.navbar ul {
  display: flex;
  gap: 30px;
  font-size: 25px; /* Adjusted to better balance the layout */
  font-weight: 900;
  color: #FFFFFF;
  list-style: none;
  
}

.navbar ul li {
  padding: 10px;
  transition: transform 0.3s ease; /* Smooth hover effect */
}

.navbar ul li:hover {
  transform: translateY(-5px); /* Subtle hover lift effect */
  color: #39FF14 ; /* Darker color on hover */
  cursor: pointer;
}

.hero {
  font-size: 60px;
  text-align: center;
  color: #333;
  background-color: #f4e1b7; /* Softer background color */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  letter-spacing: 1px; /* Letter spacing for more impact */
}

.hero span {
  color: #ff6f61; /* Add a pop of color for emphasis */
}

